{:list-indent 1
 :indents     {>def         [[:inner 0]]
               >defn        [[:inner 0]]
               >defn-       [[:inner 0]]
               >fdef        [[:inner 0]]
               defreducer   [[:inner 0]]
               defnreducer  [[:inner 0]]
               >defnreducer [[:inner 0]]}}
