{:hooks {:analyze-call {strohm-native.flow/defnreducer
                        strohm-native.clj-kondo-hooks/defnreducer
                        strohm-native.flow/>defnreducer
                        strohm-native.clj-kondo-hooks/>defnreducer}}
 :linters {:clj-kondo.strohm-native.>defnreducer/invalid-gspec {:level :error}
           :clj-kondo.strohm-native.>defnreducer/return-spec-not-equal-to-first-arg-spec {:level :error}
           :clj-kondo.strohm-native.>defnreducer/invalid-body {:level :error}
           :clj-kondo.strohm-native.defnreducer/invalid-body {:level :error}}}
