;; shadow-cljs configuration
{:source-paths
 ["dev"
  "src"
  "test"]

 :dependencies
 []

 :ssl {:keystore ".strohm/keystore.jks"
       :password "dev-only"}
 :http {:port 1234
        :ssl-port 8234}
 :dev-http {8080 {:root "target/"
                  :ssl-port 8443}}

 :builds
 {:app {:output-dir "target/"
        :target :browser
        :asset-path "."
        :modules {:main {:entries [app.main]
                         :init-fn app.main/main!}}}
  :test {:target :node-test
         :output-to "target/node-test.js"
         :ns-regexp "-test$"
         :autorun true
         :compiler-options {:reader-features #{:test}}}}}
