;; shadow-cljs configuration
{:source-paths
 ["dev"
  "src"
  "test"]

 :dependencies
 []

 :dev-http {8080  "target/"}

 :builds
 {:app {:output-dir "target/"
        :target :browser
        :asset-path "."
        :modules {:main {:entries [app.main]
                         :init-fn app.main/main!}}
        :devtools {:devtools-url "http://10.0.2.2:9630"}}
  :test {:target :node-test
         :output-to "target/node-test.js"
         :ns-regexp "-test$"
         :autorun true
         :compiler-options {:reader-features #{:test}}}}}
