{:paths ["src" "test"]
 :deps {thheller/shadow-cljs {:mvn/version "LATEST"}}
 :aliases {:jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
                 :exec-fn hf.depstar/jar
                 :exec-args {}}
           :install {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :local
                                 :sign-releases? true
                                 :artifact "target/strohm-native.jar"}}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote
                                :sign-releases? true
                                :artifact "target/strohm-native.jar"}}}}
