{:paths ["src" "test" "resources"]
 :deps {thheller/shadow-cljs {:mvn/version "2.17.8"}
        com.fulcrologic/guardrails {:mvn/version "1.1.11"}
        org.clojure/clojure {:mvn/version "1.11.0"}}
 :aliases {:clj-kondo-test {:extra-paths ["test-clj-kondo"]
                            :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.1.12"}
                                          clj-kondo/clj-kondo     {:mvn/version "2022.03.09"}}}
           :runner {:extra-paths ["test"]
                    :extra-deps {io.github.cognitect-labs/test-runner
                                 {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                    :main-opts ["-m" "cognitect.test-runner"]
                    :exec-fn cognitect.test-runner.api/test}
           :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                 :exec-fn hf.depstar/jar
                 :exec-args {}}
           :install {:extra-deps {#_#_slipset/deps-deploy {:mvn/version "RELEASE"}
                                  svdo/deps-deploy {:git/url "https://github.com/svdo/deps-deploy"
                                                    :git/sha "6ac970cd39922a82620fd4ee4542ed9af44cc95b"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :local
                                 :sign-releases? true
                                 :sign-key-id "C771518B366E0C7D0C4B4368B2741AC5AFC71E0A"
                                 :artifact "target/strohm-native.jar"}}
           :deploy {:extra-deps {#_#_slipset/deps-deploy {:mvn/version "RELEASE"}
                                 svdo/deps-deploy {:git/url "https://github.com/svdo/deps-deploy"
                                                   :git/sha "6ac970cd39922a82620fd4ee4542ed9af44cc95b"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote
                                :sign-releases? true
                                :sign-key-id "C771518B366E0C7D0C4B4368B2741AC5AFC71E0A"
                                :artifact "target/strohm-native.jar"}}

           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.6.0"}}
                      :main-opts ["-m" "antq.core"]}}}
