{:deps true

 :dev-http {8080  "target/"}
 
 :builds
 {:strohm-native {:output-dir       "target/"
                  :target           :browser
                  :asset-path       "."
                  :modules          {:main {:entries [strohm-native.flow]}}}
  :test   {:target           :node-test
           :output-to        "target/node-test.js"
           :ns-regexp        "-test$"
           :autorun          true
           :compiler-options {:reader-features #{:test}}}}}
